@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&family=Roboto+Mono:ital,wght@1,700&display=swap');


body{
    box-sizing:border-box;
    margin: 10;
    padding:0;
    background-color:#E7FFF5;
}

li,a{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #000000;
    text-decoration: none;
}


header {
    display: flex;
    /*justify-content: space-between; /*  push left and right item to far edge, middle is spaced between*/
    align-items: center;
    padding: 20px 10% 0px 10%;
}

.expand{
    width:35%;
}

.logo{
    cursor: pointer;
}


.chrome{
    display: flex;
    align-items: center;
    cursor:pointer;
    border-radius: 50px;
}


.nav_links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 1px;
    padding: 0 5px;
    width:29rem; /*ALIGNING THE CONTACT US*/
}


.cta{
    /*background: transparent;*/
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #007368;
}

button{
    display: inline-block;
    /* width: 20rem; */
    padding: 0px 30px; /*HERE BUTTON WIDTH AND HEIGHT*/
    color: rgb(42, 112, 102);
    color: white; 
    background-color: rgb(30, 98, 88);
    border: 2px solid #007368;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

}
#button1 {
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    display: inline-block;
    padding: 10px 30px;
    color: rgb(42, 112, 102);
    color: white; 
    background-color: rgb(30, 98, 88); /* Added semicolon at the end */
    border: 2px solid #007368;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}


#button1:hover {
    background-color:#E7FFF5;
    color: black;

    /* background-color: rgba(60, 179, 113, 0.3); */
}



#button1:hover > span{
    color:rgba(60, 179, 113, 0.3);
}

button span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgba(135, 193, 161, 0.99); */

}

button p {
    /* background-color: rgba(135, 193, 161, 0.99); */
    color:rgb(255, 255, 255);
}

button:hover {
    background-color: rgba(60, 179, 113, 0.3);
    color: black;
}


h1 {
    text-align: center;
    background-color: white;
    /* padding: 40px 20% 160px 20%; */
    padding: 60px 0% 0 0%;
    font-size: 35px;
    font-family: "Roboto Mono", sans-serif;
}



h2 {
    font-size: 5px;
    text-align: center;
    background-color: white;
    padding: 0px 0 20px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}

.white {
    background-color: white;
}

.green{
    text-align: center;
    background-color: #E7FFF5;
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    margin-left: 180px;
    margin-right: 200px;
    align-items: center;
    padding: 50px 0 50px 0; /*icon spacing above*/
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 22;
}



.friendly {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
.friendly img {
    margin-right: -70px; /* moves the icon */
}


.friendly p2 {
    margin-left: 80px; /* user friendly */
  }

.efficient img {
    padding: 0px 0 0 0  /* person icon*/
}



p2{
    padding: 25px 0 10px 0; /* text below icons*/
}



.image{
    display: flex;
    cursor: pointer;
    justify-content:center;
    align-items: center;
    padding: 40px 0 0px 0;

}
/* 
.image img{
    margin: 0 100px;
} */

p1{
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    width: 80%;
    color: black; 
    justify-content: space-evenly;
    padding: 25px 100px 10px 100px;
    display: flex;
    align-items: center;
    margin-left: 155px;
    margin-right: 125px;
}



.efficient, .friendly, .reliable {
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}


p3{
    width: 90%;
    color: black; 
    justify-content: space-evenly;
    padding: 25px 0 10px 0;
    display: flex;
    align-items: center;
}

p4{
    width: 80%;
    color: black; 
    justify-content: space-evenly;
    padding: 25px 0 10px 0;
    display: flex;
    align-items: center;
    margin-left: 85px;

}


p5{
    width: 80%;
    color: black; 
    justify-content: space-evenly;
    padding: 25px 0 10px 0;
    display: flex;
    align-items: center;
    margin-left: 200px;

}

.reliable p5 {
    margin-left: 110px; /* reliable paragraph text */
  }

.reliable img {
    margin-right: -100px; /* moves the icon */
}

.reliable p2{
    margin-left: 100px;
}

header1 {

    text-align: center;
    /* background-color: white; */
    /* padding: 160px 50% 0 0%; */
    font-size: 50px;
    font-family: "Roboto Mono", sans-serif;    
    /* margin-left: 50px;
    margin-top: 150px; */
}

paragraph{
    text-align: left;
    padding: 160px 50% 0 0%;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;    
    margin-left: 50px;
    margin-top: 50px;
}

li{
    text-align: left;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;    

}


* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    
  }
  .row{
    background-color: white; 
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .demo{
    padding: 90px 0 20 0;
    display: flex;
    align-items: center;
    cursor:pointer;
    margin-top: 70px;
    margin-left:70px;
    width: 45%; 
    max-height: 220%; 
  }

img1 {
    width: 10rem; /* set width to 10 rem */
    height: auto;
    /* border-radius: 100px; */
}

footer{
    margin-top: -40px;
    margin-bottom: 120px;
    margin-right:50px;
    display: flex;
    justify-content: right;
    align-items: right;
    
}
.line{
    margin-top:-170px;
    margin-right:330px;
    margin-left:50px;
    border-color: rgb(64, 141, 139);
}


header3{
    font-family: "Roboto Mono", sans-serif;
    font-size: 35px;
}

text{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;

}
